@using Property365.Web.Components.Pages
<ul class="flex items-center gap-6">
    <li>
        <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
             src="https://secure.gravatar.com/avatar/afd968081b39da2736c2059d62c2df86?s=64" alt="Bordered avatar">
       
    </li>
    <li>
         <a href="#" class="text-sm font-sans text-gray-800 font-semibold tracking-wider">
                         Dirk Dhure
        </a>
    </li>
    <li>
        <AccessControl />
    </li>
</ul>

@code {

}
