@page "/badge"

<Property365ComponentContainer Name="Badge" Documentation="false">
    <div class="row px-3">
        <div class="col-md-6 p-3">
            <Property365Card>
                <h4 class="mb-4">Badges</h4>
                <div class="flex flex-row space-x-1 flex-wrap">
                    <Property365Badge Color="blue" Text="Primary" />
                    <Property365Badge Color="gray" Text="Secondary" />
                    <Property365Badge Color="green" Text="Success" />
                    <Property365Badge Color="red" Text="Danger" />
                    <Property365Badge Color="amber" Text="Warning" />
                    <Property365Badge Color="sky" Text="Info" />
                </div>
            </Property365Card>
        </div>
        <div class="col-md-6 p-3">
            <Property365Card>
                <h4 class="mb-4">Pills</h4>
                 <div class="flex flex-row space-x-1 flex-wrap">
                    <Property365Badge BadgeStyle="BadgeStyle.Primary" IsPill="true" Text="Primary" />
                    <Property365Badge Color="gray" IsPill="true" Text="Secondary" />
                    <Property365Badge Color="green" IsPill="true" Text="Success" />
                    <Property365Badge Color="red" IsPill="true" Text="Danger" />
                    <Property365Badge Color="amber" IsPill="true" Text="Warning" />
                    <Property365Badge Color="sky" IsPill="true" Text="Info" />
                </div>
           
            </Property365Card>
        </div>
        <div class="col-md-6 p-3">
            <Property365Card>
                <h4 class="mb-4">In Button</h4>

                 <div class="flex flex-row space-x-1 flex-wrap">
                    <Property365Button ButtonStyle="ButtonStyle.Primary" Class="mr-1" >
                    Notifications
                        <Property365Badge Color="amber" Text="15" />
                    </Property365Button>

                    <Property365Button Color="violet">
                        Messages 
                        <Property365Badge Color="red" IsPill="@true" Text="15" />
                    </Property365Button>
                </div>
                    
            </Property365Card>
        </div>
        <div class="col-md-6 p-3">
            <Property365Card>
                <h4 class="mb-4">Child Content</h4>
                <div class="flex flex-row space-x-1 flex-wrap">

                <Property365Badge BadgeStyle="BadgeStyle.Primary">
                    Childcontent
                </Property365Badge>
                </div>
            </Property365Card>
        </div>
    </div>
</Property365ComponentContainer>