@page "/buttons"
@page "/button"

<Property365ComponentContainer Name="Button">
    <div class="flex flex-col">

        <div class="flex flex-col mb-4">
            <h4 class="text-thin mb-2">Button outlines</h4>
             <div class="space-x-5">
                <Property365Button ButtonStyle="ButtonStyle.Primary" Click=@(args => OnClick("Primary button")) Text="Primary"
                     Outline="true" />
                <Property365Button ButtonStyle="ButtonStyle.Secondary" Click=@(args => OnClick("Secondary button")) Text="Secondary"
                     Outline="true" />
                <Property365Button ButtonStyle="ButtonStyle.Light" Click=@(args => OnClick("Light button")) Text="Light" 
                    Outline="true" />
                <Property365Button ButtonStyle="ButtonStyle.Info" Click=@(args => OnClick("Info button")) Text="Info" 
                    Outline="true" />
                <Property365Button ButtonStyle="ButtonStyle.Success" Click=@(args => OnClick("Success button ")) Text="Success"
                     Outline="true" />
                <Property365Button ButtonStyle="ButtonStyle.Warning" Click=@(args => OnClick("Warning button ")) Text="Warning"
                     Outline="true" />
                <Property365Button ButtonStyle="ButtonStyle.Danger" Click=@(args => OnClick("Danger button")) Text="Danger"
                     Outline="true" />
                <Property365Button ButtonStyle="ButtonStyle.Dark" Click=@(args => OnClick("Dark button")) Text="Dark"
                    Outline="true" />
            </div>
        </div>
        <div class="flex flex-col mb-4">
            <h4 class="text-thin mb-2">Button Styles</h4>
             <div class="space-x-5">
                <Property365Button ButtonStyle="ButtonStyle.Primary" Click=@(args => OnClick("Default button")) Text="Primary" />
                <Property365Button ButtonStyle="ButtonStyle.Secondary" Click=@(args => OnClick("Secondary button")) Text="Secondary" />
                <Property365Button ButtonStyle="ButtonStyle.Light"  Click=@(args => OnClick("Light button")) Text="Light" />
                <Property365Button ButtonStyle="ButtonStyle.Info"   Click=@(args => OnClick("Info button")) Text="Info" />
                <Property365Button ButtonStyle="ButtonStyle.Success" Click=@(args => OnClick("Success button ")) Text="Success" />
                <Property365Button ButtonStyle="ButtonStyle.Warning" Click=@(args => OnClick("Warning button ")) Text="Warning" />
                <Property365Button ButtonStyle="ButtonStyle.Danger" Click=@(args => OnClick("Danger button")) Text="Danger" />
                <Property365Button ButtonStyle="ButtonStyle.Dark" Click=@(args => OnClick("Dark button")) Text="Dark" />
            </div>
        </div>
        <div class="flex flex-col mb-4">
            <h4 class="text-thin mb-2">Icon</h4>
             <div class="space-x-5">
                <Property365Button ButtonStyle="ButtonStyle.Primary" Click=@(args => OnClick("Primary icon button")) Icon="add_circle_outline" />
                <Property365Button ButtonStyle="ButtonStyle.Secondary" Click=@(args => OnClick("Secondary icon button")) Icon="add_circle_outline" />
                <Property365Button ButtonStyle="ButtonStyle.Light" Click=@(args => OnClick("Light icon button")) Icon="refresh" />
                <Property365Button ButtonStyle="ButtonStyle.Info" Click=@(args => OnClick("Info icon button")) Icon="privacy_tip" />
                <Property365Button ButtonStyle="ButtonStyle.Success" Click=@(args => OnClick("Success icon button ")) Icon="check_circle" />
                <Property365Button ButtonStyle="ButtonStyle.Warning" Click=@(args => OnClick("Warning icon button ")) Icon="warning_amber" />
                <Property365Button ButtonStyle="ButtonStyle.Danger" Click=@(args => OnClick("Danger icon button")) Icon="report" />
                <Property365Button ButtonStyle="ButtonStyle.Dark" Click=@(args => OnClick("Dark icon button")) Icon="report" />
            </div>
        </div>

        <div class="flex flex-col mb-4">
            <h4 class="text-thin mb-2">Icon and text</h4>
            <div class="space-x-5">
                <Property365Button ButtonStyle="ButtonStyle.Primary" Click=@(args => OnClick("Primary button with text and icon")) Text="New"
                    Icon="add_circle_outline" />
                <Property365Button ButtonStyle="ButtonStyle.Secondary" Click=@(args => OnClick("Secondary button with text and icon")) Text="New"
                    Icon="add_circle_outline" />
                <Property365Button ButtonStyle="ButtonStyle.Light" Click=@(args => OnClick("Light button with text and icon")) Text="Refresh"
                    Icon="refresh" />
                <Property365Button ButtonStyle="ButtonStyle.Info" Click=@(args => OnClick("Info button with text and icon")) Text="Privacy"
                    Icon="privacy_tip" />
                <Property365Button ButtonStyle="ButtonStyle.Success" Click=@(args => OnClick("Success button with text and icon")) Text="Publish"
                    Icon="check_circle" />
                <Property365Button ButtonStyle="ButtonStyle.Warning" Click=@(args => OnClick("Warning button with text and icon")) Text="Warning"
                    Icon="warning_amber" />
                <Property365Button ButtonStyle="ButtonStyle.Danger" Click=@(args => OnClick("Danger button with text and icon")) Text="Report"
                    Icon="report" />
                <Property365Button ButtonStyle="ButtonStyle.Dark" Click=@(args => OnClick("Dark button with text and icon")) Text="Reset"
                    Icon="report" />
            </div>
        </div>



        <div class="flex flex-col mb-4">
            <h4 class="text-thin mb-2">Disabled Button</h4>
             <div class="space-x-5">
                <Property365Button ButtonStyle="ButtonStyle.Primary" Disabled="true" Text="Primary" />
                <Property365Button ButtonStyle="ButtonStyle.Secondary" Disabled="true" Text="Secondary" />
                <Property365Button ButtonStyle="ButtonStyle.Light"  Disabled="true" Text="Light" />
                <Property365Button ButtonStyle="ButtonStyle.Info"  Disabled="true" Text="Info" />
                <Property365Button ButtonStyle="ButtonStyle.Success"  Disabled="true" Text="Success" />
                <Property365Button ButtonStyle="ButtonStyle.Warning"  Disabled="true" Text="Warning" />
                <Property365Button ButtonStyle="ButtonStyle.Danger"  Disabled="true" Text="Danger" />
                <Property365Button ButtonStyle="ButtonStyle.Dark"  Disabled="true" Text="Dark" />
            </div>
        </div>
        <div class="flex flex-col mb-4">
            <h4 class="text-thin mb-2">Busy Indicator</h4>
             <div class="space-x-5">
                <Property365Button style="width: 160px" ButtonStyle="ButtonStyle.Primary" IsBusy=@busy Click=@OnBusyClick Text="Save" />
                <Property365Button style="width: 160px" ButtonStyle="ButtonStyle.Primary" Icon="save" BusyText="Saving ..." IsBusy=@busy
                    Click=@OnBusyClick Text="Save" />
            </div>
        </div>
        <div class="flex flex-col mb-4">
            <h4 class="text-thin mb-2">Button Size</h4>
             <div class="space-x-5">
                <Property365Button ButtonStyle="ButtonStyle.Primary" Rounded="true" Size="ButtonSize.Small" Text="Small" />
                <Property365Button ButtonStyle="ButtonStyle.Primary"  Rounded="true" Text="Default" />
                <Property365Button ButtonStyle="ButtonStyle.Primary" Rounded="true" Size="ButtonSize.Medium" Text="Medium" />
                <Property365Button ButtonStyle="ButtonStyle.Primary" Rounded="true" Size="ButtonSize.Large"  Text="Large" />
            </div>
        </div>
    </div>

</Property365ComponentContainer>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;
    
    bool busy;

    void OnClick(string buttonName)
    {
        console.Log($"{buttonName} clicked");
    }

    async Task OnBusyClick()
    {
        busy = true;
        await Task.Delay(2000);
        busy = false;
    }
}
