@page "/datagrid-sort-api"

@using Property365.Web.Components.Demos.Data
@using Property365.Web.Components.Demos.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inject NorthwindContext dbContext

<h1>DataGrid <strong>Sort API</strong></h1>

<p>Set the initial sort order of your Property365DataGrid via the <code>SortOrder</code> column property.</p>

<Property365ComponentContainer Name="DataGrid" Source="DataGridSortApi" Heading="false">
    <Property365DataGrid AllowColumnResize="true" PageSize="5" AllowPaging="true" 
        AllowSorting="true" Data="@employees" TItem="Employee" ColumnWidth="400px" Sort="@OnSort">
        <Columns>
            <Property365DataGridColumn TItem="Employee" Property="FirstName" Title="First Name" SortOrder="SortOrder.Descending" Width="150px" />
            <Property365DataGridColumn TItem="Employee" Property="LastName" Title="Last Name" Width="150px" />
            <Property365DataGridColumn TItem="Employee" Property="BirthDate" Title="Birth Date" FormatString="{0:d}" Width="150px" />
            <Property365DataGridColumn TItem="Employee" Property="Country" Title="Country" Width="150px" />
            <Property365DataGridColumn TItem="Employee" Property="Notes" Title="Notes" />
        </Columns>
    </Property365DataGrid>
</Property365ComponentContainer>
@code {
    IEnumerable<Employee> employees;

    protected override void OnInitialized()
    {
        employees = dbContext.Employees;
    }

    void OnSort(DataGridColumnSortEventArgs<Employee> args)
    {
        //
    }
}