@page "/datagrid-column-reorder"

@using Property365.Web.Components.Demos.Data
@using Property365.Web.Components.Demos.Models.Northwind
@using Microsoft.EntityFrameworkCore

@inject NorthwindContext dbContext

<h1>DataGrid <strong>DataGrid Column Reorder</strong></h1>

<p>Enable column reorder by setting the AllowColumnReorder property to true. Define column initial order using column OrderIndex property.</p>

<Property365ComponentContainer Name="DataGrid" Source="DataGridColumnReoder" Heading="false">
    <Property365Button Text="Change page state" Click="@((args) => { StateHasChanged(); })" Style="margin-bottom:20px" />
    <Property365DataGrid AllowColumnReorder="true" ColumnReordered="@OnColumnReordered"
        AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" PageSize="5" AllowPaging="true" AllowSorting="true" Data="@employees" TItem="Employee" ColumnWidth="160px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <Property365DataGridColumn TItem="Employee" Property="EmployeeID" Filterable="false" Title="ID" Frozen="true" Width="50px" TextAlign="TextAlign.Center" Reorderable="false" Resizable="false" />
            <Property365DataGridColumn TItem="Employee" Title="Photo" Sortable="false" Filterable="false" >
                <Template Context="data">
                    <Property365Image Path="@data.Photo" style="width: 40px; height: 40px; border-radius: 8px;" />
                </Template>
            </Property365DataGridColumn>
            <Property365DataGridColumn TItem="Employee" Property="FirstName" Title="First Name" OrderIndex="2" />
            <Property365DataGridColumn TItem="Employee" Property="LastName" Title="Last Name" OrderIndex="1" />
            <Property365DataGridColumn TItem="Employee" Property="Title" Title="Title" />
            <Property365DataGridColumn TItem="Employee" Property="BirthDate" Title="Birth Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="HireDate" Title="Hire Date" FormatString="{0:d}" />
            <Property365DataGridColumn TItem="Employee" Property="Address" Title="Address" />
            <Property365DataGridColumn TItem="Employee" Property="City" Title="City" />
            <Property365DataGridColumn TItem="Employee" Property="Region" Title="Region" />
            <Property365DataGridColumn TItem="Employee" Property="PostalCode" Title="Postal Code" />
            <Property365DataGridColumn TItem="Employee" Property="Country" Title="Country" />
            <Property365DataGridColumn TItem="Employee" Property="HomePhone" Title="Home Phone" />
            <Property365DataGridColumn TItem="Employee" Property="Extension" Title="Extension" />
            <Property365DataGridColumn TItem="Employee" Property="Notes" Title="Notes" />
        </Columns>
    </Property365DataGrid>
</Property365ComponentContainer>

<Property365Card Class="mt-4">
    <EventConsole @ref=@console />
</Property365Card>

@code {
    EventConsole console;

    IEnumerable<Employee> employees;

    protected override void OnInitialized()
    {
        employees = dbContext.Employees;
    }

    void OnColumnReordered(DataGridColumnReorderedEventArgs<Employee> args)
    {
        console.Log($"Reordered {args.Column.Title}. Old index: {args.OldIndex}, New index: {args.NewIndex}");
    }
}
