@inject DialogService DialogService

<Property365TemplateForm TItem="Appointment" Data="@model" Submit=@OnSubmit>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <Property365Label Text="Text" />
    </div>
    <div class="col">
        <Property365TextBox @bind-Value="@model.Text" Name="Text" />
        <Property365RequiredValidator Text="Title is required" Component="Text" />
    </div>
</div>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <Property365Label Text="Start" />
    </div>
    <div class="col">
        <Property365DatePicker @bind-Value="@model.Start" Name="Start" ShowTime="true" />
        <Property365RequiredValidator Text="Start is required" Component="Start" />
    </div>
</div>
<div class="row" style="margin-bottom: 16px">
    <div class="col-md-3">
        <Property365Label Text="End" />
    </div>
    <div class="col">
        <Property365DatePicker Name="End" @bind-Value="@model.End" ShowTime="true" />
        <Property365RequiredValidator Component="End" Text="End is required" />
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col">
        <Property365Button ButtonType="ButtonType.Submit" Text="Save" />
    </div>
</div>
</Property365TemplateForm>
@code {
    [Parameter]
    public Appointment Appointment { get; set; }

    Appointment model = new Appointment();

    protected override void OnParametersSet()
    {
        model = Appointment;
    }

    void OnSubmit(Appointment model)
    {
        DialogService.Close(model);
    }
}