@page "/gravatar"

<Property365ComponentContainer Name="Gravatar">
<h3>Gravatar with email (info@Property365.com)</h3>
<Property365Gravatar Email="info@Property365.com" />
</Property365ComponentContainer>