@page "/login"

<Property365ComponentContainer Name="Login">
<div class="row d-flex px-3">
    <div class="col-xl-4 d-flex p-3">
        <Property365Card Style="width: 100%;">
            <h2 class="mb-4">Simple login</h2>
            <Property365TemplateForm Data=@("SimpleLogin") Action="http://www.google.com">
                <Property365Login AllowRegister="false" AllowResetPassword="false" Login=@(args => OnLogin(args, "Simple login")) />
            </Property365TemplateForm>
        </Property365Card>
    </div>
    <div class="col-xl-4 p-3">
        <Property365Card>
            <h2 class="mb-4">Login with register</h2>
            <Property365TemplateForm Data=@("LoginWithRegister")>
            <Property365Login AllowResetPassword="false" 
                            Login=@(args => OnLogin(args, "Login with register")) 
                            Register=@(args => OnRegister("Login with register")) />
            </Property365TemplateForm>
        </Property365Card>
    </div>
    <div class="col-xl-4 p-3">
        <Property365Card>
            <h2 class="mb-4">Register and password reset</h2>
            <Property365TemplateForm Data=@("LoginWithRegisterAndReset")>
            <Property365Login Login=@(args => OnLogin(args, "Login with register and password reset")) 
                            ResetPassword=@(args => OnResetPassword(args, "Login with register and password reset"))
                            Register=@(args => OnRegister("Login with register and password reset")) />
            </Property365TemplateForm>
        </Property365Card>
    </div>
    <div class="col-xl-4 p-3">
        <Property365Card>
            <h2 class="mb-4">Default values</h2>
            <Property365TemplateForm Data=@("LoginWithDefaultValues")>
            <Property365Login AllowRegister="true" AllowResetPassword="true" Username=@userName Password=@password
                            Login=@(args => OnLogin(args, "Login with default values"))
                            ResetPassword=@(args => OnResetPassword(args, "Login with default values"))
                            Register=@(args => OnRegister("Login with default values")) />
            </Property365TemplateForm>
        </Property365Card>
    </div>
    <div class="col-xl-4 p-3">
        <Property365Card>
            <h2 class="mb-4">Localization</h2>
            <Property365TemplateForm Data=@("Localization")>
            <Property365Login AllowRegister="true" AllowResetPassword="true"
                            LoginText="Einloggen" UserText="Benutzername" PasswordText="Passwort"
                            UserRequired="Benutzername erforderlich"
                            PasswordRequired="Passwort erforderlich"
                            RegisterText="Registrieren"
                            RegisterMessageText="Sie haben noch keinen Account?"
                            ResetPasswordText="Passwort zurücksetzen"
                            Login=@(args => OnLogin(args, "Localized login"))
                            ResetPassword=@(args => OnResetPassword(args, "Localized login"))
                            Register=@(args => OnRegister("Localized login")) />
            </Property365TemplateForm>
        </Property365Card>
    </div>
</div>
</Property365ComponentContainer>

<EventConsole @ref=@console Class="mt-4" />

@code {
    string userName = "admin";
    string password = "admin";
    EventConsole console;

    void OnLogin(LoginArgs args, string name)
    {
        console.Log($"{name} -> Username: {args.Username} and password: {args.Password}");
    }

    void OnRegister(string name)
    {
        console.Log($"{name} -> Register");
    }

    void OnResetPassword(string value, string name)
    {
        console.Log($"{name} -> ResetPassword for user: {value}");
    }
}
