@page "/password"

<Property365ComponentContainer Name="Password">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">Password</h4>
                <Property365Password Change=@(args => OnChange(args, "Password")) Class="w-100" />
            </Property365Card>
        </div>
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">Password with placeholder</h4>
                <Property365Password Placeholder="Enter password..." Change=@(args => OnChange(args, "Password with placeholder")) Class="w-100" />
            </Property365Card>
        </div>
        <div class="col-md-4 p-3">
            <Property365Card>
                <h4 class="mb-4">Disabled Password with placeholder</h4>
                <Property365Password Disabled="true" Placeholder="Enter password..." Class="w-100" />
            </Property365Card>
        </div>
    </div>
</Property365ComponentContainer>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;

    void OnChange(string value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}