@page "/rating"

<Property365ComponentContainer Name="Rating">
    <div class="row px-3">
        <div class="col-12 col-lg-6 p-3">
            <Property365Card>
                <h4 class="mb-4">Rating with 5 stars</h4>
                <Property365Rating Change=@(args => OnChange(args, "Rating with 5 stars")) />
            </Property365Card>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <Property365Card>
                <h4 class="mb-4">Rating with 10 stars</h4>
                <Property365Rating Stars="10" Change=@(args => OnChange(args, "Rating with 10 stars")) />
            </Property365Card>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <Property365Card>
                <h4 class="mb-4">Disabled Rating with 10 stars</h4>
                <Property365Rating Disabled="true" Stars="10" />
            </Property365Card>
        </div>
        <div class="col-12 col-lg-6 p-3">
            <Property365Card>
                <h4 class="mb-4">ReadOnly Rating</h4>
                <Property365Rating ReadOnly="true" Stars="5" Value="4" />
            </Property365Card>
        </div>
    </div>
</Property365ComponentContainer>

<EventConsole @ref=@console Class="mt-4" />

@code {
    EventConsole console;

    void OnChange(int value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}