@page "/textarea"

<Property365ComponentContainer Name="TextArea">
<div class="flex flex-wrap  px-3">
    <div class="md:w-1/2 pr-4 pl-4 lg:w-1/3 pr-4 pl-4 p-6">
        <Property365Card>
            <h4 class="mb-4">TextArea</h4>
            <Property365TextArea Change=@(args => OnChange(args, "TextArea")) Class="w-full" />
        </Property365Card>
    </div>
    <div class="md:w-1/2 pr-4 pl-4 lg:w-1/3 pr-4 pl-4 p-6">
        <Property365Card>
            <h4 class="mb-4">TextArea with placeholder</h4>
            <Property365TextArea Placeholder="Enter here..." Change=@(args => OnChange(args, "TextArea with placeholder")) Class="w-full" />
        </Property365Card>
    </div>
    <div class="md:w-1/2 pr-4 pl-4 lg:w-1/3 pr-4 pl-4 p-6">
        <Property365Card>
            <h4 class="mb-4">TextArea with 5 maximum characters</h4>
            <Property365TextArea MaxLength="5" Change=@(args => OnChange(args, "TextArea with 5 maximum characters")) Class="w-full" />
        </Property365Card>
    </div>
    <div class="md:w-1/2 pr-4 pl-4 lg:w-1/3 pr-4 pl-4 p-6">
        <Property365Card Style="overflow: scroll">
            <h4 class="mb-4">TextArea with 3 rows and 30 columns</h4>
            <Property365TextArea @bind-Value=@value Cols="30" Rows="3" Change=@(args => OnChange(args, "TextArea with 3 rows and 30 columns")) />
        </Property365Card>
    </div>
    <div class="md:w-1/2 pr-4 pl-4 lg:w-1/3 pr-4 pl-4 p-6">
        <Property365Card Style="overflow: scroll">
            <h4 class="mb-4">Disabled TextArea with 3 rows and 30 columns</h4>
            <Property365TextArea Disabled="true" @bind-Value=@value Cols="30" Rows="3" />
        </Property365Card>
    </div>
</div>
</Property365ComponentContainer>


<EventConsole @ref=@console Class="mt-4" />

@code {
    string value;

    EventConsole console;

    void OnChange(string value, string name)
    {
        console.Log($"{name} value changed to {value}");
    }
}