@inherits LayoutComponentBase

<Support></Support>
<Header Menus="Menus"></Header>
<!-- Start Main -->
<main class="container mx-w-6xl mx-auto py-4">
    <div class="flex flex-col space-y-8">
        @Body
    </div>
</main>
<!-- End Main -->
@code {

    public ApplicationMenu Menus { get; set; } = default!;
}
