@using Property365.Web.Components
@using Property365.Web.Components
@using Property365.Web.Components.Rendering
@using Microsoft.JSInterop
@inherits FormComponent<string>

@if(Visible)
{
    <div @ref=Element style=@Style @attributes=@Attributes class=@GetCssClass() id=@GetId()>
        <div class="rz-html-editor-toolbar">
            <CascadingValue Value=@this>
            @if (ChildContent != null)
            {
                @ChildContent
            }
            else
            {
                <Property365HtmlEditorUndo />
                <Property365HtmlEditorRedo />
                <Property365HtmlEditorSeparator />
                <Property365HtmlEditorBold />
                <Property365HtmlEditorItalic />
                <Property365HtmlEditorUnderline />
                <Property365HtmlEditorStrikeThrough />
                <Property365HtmlEditorSeparator />
                <Property365HtmlEditorAlignLeft />
                <Property365HtmlEditorAlignCenter />
                <Property365HtmlEditorAlignRight />
                <Property365HtmlEditorJustify />
                <Property365HtmlEditorSeparator />
                <Property365HtmlEditorIndent />
                <Property365HtmlEditorOutdent />
                <Property365HtmlEditorUnorderedList />
                <Property365HtmlEditorOrderedList />
                <Property365HtmlEditorSeparator />
                <Property365HtmlEditorColor />
                <Property365HtmlEditorBackground />
                <Property365HtmlEditorRemoveFormat />
                <Property365HtmlEditorSeparator />
                <Property365HtmlEditorSubscript />
                <Property365HtmlEditorSuperscript />
                <Property365HtmlEditorSeparator />
                <Property365HtmlEditorLink />
                <Property365HtmlEditorUnlink />
                <Property365HtmlEditorImage />
                <Property365HtmlEditorFontName />
                <Property365HtmlEditorFontSize />
                <Property365HtmlEditorFormatBlock />
            }
            </CascadingValue>
        </div>
        <div @ref=@ContentEditable class="rz-html-editor-content" contenteditable=@(!Disabled) @onfocus=@OnFocus @onblur=@OnBlur></div>
    </div>
}
