@inherits LayoutComponentBase

<Support></Support>
<Header></Header>
<!-- Start Main -->
<main class="container mx-w-6xl mx-auto py-4">
    <div class="flex flex-col space-y-8">
        @Body
    </div>
</main>
<!-- End Main -->
@code {

}
