<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="public" value="https://api.nuget.org/v3/index.json" />
    <!-- also get packages from the NuGet Gallery -->
    <add key="Property365.Packages" value="https://pkgs.dev.azure.com/365solutions/Property365/_packaging/Property365.Packages/nuget/v3/index.json" />
  </packageSources>

  <!-- packageSources -->
 
</configuration>